<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h1>게시글목록</h1>
        <form method="get" th:action="@{/board/searchList}">
        <table id="search_form">
            <tr>
                <td><select name="searchKey">
                    <option value="writer">writer</option>
                    <option value="wdate">wdate</option>
                </select></td>
                <td><input type="text" name="searchWord" th:value="Eve"></td>
                <td><input type="submit" value="search"></td>
            </tr>
        </table>
        </form>

        <table id="customers">
            <thead>
                <tr>
                    <th>num</th>
                    <th>title</th>
                    <th>content</th>
                    <th>writer</th>
                    <th>wdate</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="vo : ${vos}">
                    <tr>
                        <td><a th:href="@{/board/selectOne(num=${vo.num})}">[[${vo.num}]]</a></td>
                        <td><a th:href="@{/board/selectOne(num=${vo.num})}">[[${vo.title}]]</a></td>
                        <td>[[${vo.content}]]</td>
                        <td>[[${vo.writer}]]</td>
                        <td>[[${vo.wdate}]]</td>
                    </tr>
                </th:block>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a th:href="@{/board/selectAll(cpage=1,limit=5)}">1</a>
                        <a th:href="@{/board/selectAll(cpage=2,limit=5)}">2</a>
                        <a th:href="@{/board/selectAll(cpage=3,limit=5)}">3</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a th:href="@{/board/searchList(cpage=1,limit=5,searchKey=${param.searchKey},searchWord=${param.searchWord})}">1</a>
                        <a th:href="@{/board/searchList(cpage=2,limit=5,searchKey=${param.searchKey},searchWord=${param.searchWord})}">2</a>
                        <a th:href="@{/board/searchList(cpage=3,limit=5,searchKey=${param.searchKey},searchWord=${param.searchWord})}">3</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>