<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
<div th:fragment="content">
    <h1>home.html</h1>
    <th:block sec:authorize="isAnonymous()">
        <div>로그인하지 않은 사용자에게만 보입니다.</div>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <div>어떤권한이건 상관없이 인증된(로그인성공) 사용자에게만 보입니다.</div>
    </th:block>
    <h1>session객체에 등록된 user_id : [[${session.user_id}]]</h1>

    <th:block sec:authorize="hasRole('ADMIN')">
        <div>ADMIN 사용자에게만 보입니다.</div>
    </th:block>

    <th:block sec:authorize="hasRole('USER')">
        <div>USER 사용자에게만 보입니다.</div>
    </th:block>

</div>
</body>
</html>