<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h1>글작성 페이지</h1>
        <form action="#" method="post" th:action="@{/board/insertOK}">
            <table id="customers">
                <tr>
                    <td><label for="title">제목:</label></td>
                    <td>
                        <input type="text" id="title" name="title" value="title01...">
                    </td>
                </tr>
                <tr>
                    <td><label for="content">내용:</label></td>
                    <td>
                        <input type="text" id="content" name="content" value="content...">
                    </td>
                </tr>
                <tr>
                    <td><label for="writer">작성자:</label></td>
                    <td>
                        <input type="text" id="writer" name="writer" value="admin01">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="전송">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>