<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:replace="~{layout::layout}">
    <div th:fragment="content">
        <h1>selectOne.html</h1>
        <table>
            <thead>
            <tr>
                <th>num</th>
                <th>id</th>
                <th>pw</th>
                <th>name</th>
                <th>tel</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[[${param.num}]]</td>
                    <td>[[${vo2.id}]]</td>
                    <td>[[${vo2.pw}]]</td>
                    <td>[[${vo2.name}]]</td>
                    <td>[[${vo2.tel}]]</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a th:href="@{/member/update(num=${param.num})}">/member/update</a>
                        <a th:href="@{/member/delete(num=${param.num})}">/member/delete</a>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</body>
</html>